#progress-ctn {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin: 1em auto;
    padding: 1em;
    background-color: var(--primary-color1);
    border-radius: var(--bd-rd);
}

#indicator {
    width: 100%;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
}

#progress-bar {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 2px;
  border-radius: var(--bd-rd);
  background-color: rgba(0, 0, 0, 0.3);
}

#bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--bd-rd);
  background-color: var(--succes);
  color: white;
  width: 30%;
  height: 100%;
  transition: all 0.3s ease;
}

#val {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
